.modal-body {
  width: 100%;
  min-height: 100px;
  background: linear-gradient(20deg, #6a82fb 20%, #f793a7 70%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.modal-body-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: beige;
}

.modal-body-address {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.modal-body-address > p {
  color: rgb(48, 47, 47);
}

#user {
  background: beige;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

#candidate {
  background: beige;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.modal-body-bond {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
}

.modal-body-bond > p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-body-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 100%;
}

.modal-body-buttons > button {
  border-radius: 10px;
  border: none;
  outline: none;
  height: 30px;
  width: 150px;
  cursor: pointer;
  background-color: beige(49, 130, 246);
  color: black(255, 255, 255);
  font-size: 10px;
  transition: all 0.3s ease 0s;
}

.modal-body-buttons > button:hover {
  color: #f793a7;
}

#close {
  margin-left: 5px;
}

.modal-body-input {
  display: flex;
  flex-direction: row;
  border: 0.1px solid lightgray;
  border-radius: 10px;
  padding: 3px;
  width: 80px;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.modal-body-input-text {
  color: black;
  opacity: 0.8;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  padding: 5px;
}

.modal-body-input > input {
  border: none;
  outline: none;
  background: none;
  width: 50%;
  color: red;
}
