.staking-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.staking-main-links {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#kusama {
  margin-top: 20px;
}

#testnet {
  margin-top: 20px;
}
