.staking-main-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.staking-main-link:hover {
  background-color: rgb(82, 0, 235);
}

.staking-main-link > a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: beige;
}

.staking-main-link > a:visited {
  color: beige;
  text-decoration: none;
}
