.dashboard {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dashboard-header-tabs {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-header-tab {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.dashboard-header-tab-selected {
  background: rgb(32, 13, 141);
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.dashboard-header-app-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.dashboard-header-info {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-right: 30px;
}

.dashboard-header-info > p {
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 16px;
  font-size: 10px;
  margin-left: 30px;
  flex: 1;
}

.dashboard-header-search {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-header-search > input {
  outline: none;
  border: none;
  background: none;
  color: #ec4400;
  width: 300px;
}

.dashboard-header-search > input::placeholder {
  color: #ec4400;
  opacity: 0.8;
}

.dashboard-body {
  z-index: 0;
}
