.header-wrapper {
  background: linear-gradient(20deg, #6a82fb 20%, #f793a7 70%);
  display: flex;
  flex-direction: column;
  height: 100px;
}
.header {
  position: sticky;
  top: 0;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  z-index: 2;
}

.header-mobile-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
  margin: 10px;
  font-size: 10px;
}

.header-title {
  margin: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.header-wallet-buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header-menu-icon {
  color: #f5f5dc;
  cursor: pointer;
}

.header-menu-icon:hover {
  transform: scale(1.1);
}
