.menu-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-between;
}

.menu-option-title {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: beige;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.menu-option-title-selected {
}

.menu-option-title:hover {
  color: rgb(236, 68, 96);
}
