.sidebar {
  flex: 0.2;
  margin-left: 10px;
  padding: 15px;
}

.sidebar-menu {
  background: linear-gradient(20deg, #6a82fb 20%, #f793a7 70%);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 10px;
  color: beige;
  min-width: 200px;
  border-radius: 10px;
  padding: 20px;
}
.sidebar-menu-option {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar-menu-option > h3:hover {
  color: #ec4400;
}

.sidebar-menu-option-selected {
  color: #ec4400;
  cursor: pointer;
}
#staking {
  margin-top: 20px;
}
.sidebar-menu-title {
  margin-bottom: 30px;
}

.sidebar-chain-menu {
  padding: 5px;
  border-left: 1px solid white;
}
