.sidebar {
  flex: 0.2;
  margin-left: 10px;
  padding: 5px;
  margin-top: 70px;
}

.sidebar-menu {
  position: sticky;
  top: 100px;
  background: linear-gradient(20deg, #6a82fb 20%, #f793a7 70%);
  color: beige;
  min-width: 200px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.sidebar-menu-title {
  margin-bottom: 30px;
}
