.header-wallet-button {
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
}

.header-wallet-button-dot {
  background-color: #f5f5dc;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.header-wallet-button > img {
  height: 20px;
}

.header-wallet-button-dot > img {
  height: 20px;
}

.header-wallet-button:hover {
  transform: scale(1.03);
}

.header-wallet-button-dot:hover {
  transform: scale(1.03);
}
